# Ignore everything inside the directories:
.venv
Enumeration_module/enumeration_memory.json
enumeration_memory.json
practice_stuff/
path to/your/persisted/vectorstore
vectors/*

# But do not ignore the .gitkeep files:
!vectors/vectors.gitkeep